.link {
    display: inline-block;
    background-color: #111;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid var(--primary-color);
    width: 180px;
    padding: 1rem;
    margin: 1rem;
  }
  .link:hover {
    background-color: #2E16E7;
    transition: 300ms;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    list-style: none;
    gap: 2rem;
    li{
        background-color: white;
        width: 300px;
        border-radius: 1.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 6px 13px 45px -21px rgba(0,0,0,0.57);
        transition: 200ms;
    }
    li:hover{
      transform: scale(1.08);
    }
    h2,p{
        margin: 1rem;
    }
    h2{
      color: #2E16E7;
    }
  }
  @media screen and (min-width: 50rem) {
    .products {
      /* 2 columns */
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: 70rem) {
    .products {
      /* 3 columns */
      grid-template-columns: 1fr 1fr 1fr;
    }
  }